src/main/mule/order-payement.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2776958f-ad88-4eb4-a55f-a3d60a76ae5d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="order-payementFlow" doc:id="bb52b9c1-ec73-47d5-a6f7-7daccbcff471" >
		<http:listener doc:name="Listener" doc:id="211ee0bd-1b63-46ba-8ce7-b51fa02354dd" config-ref="HTTP_Listener_config" path="/order"/>
		<logger level="INFO" doc:name="Logger" doc:id="4ef3363b-a6c3-4476-81fd-f76d5a6b4133" message="#[payload]"/>
	</flow>
</mule>
